*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Seção de navbar */

.header-nav{
    background-color: rgb(249, 225, 208);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.ul-header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    font-size: 1.2rem;
}

.logo{
    width: 35%;
    height: 100%;
}

.li-header a{
    text-decoration: none;
    color: inherit;
}

.li-header:hover{
    transition: 0.5s;
    color: rgb(236, 99, 8);
}


/* Seção Home */


.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh; 
}

#home-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-content {
    display: flex;
    align-items: center; 
    position: absolute; 
    transform: translate(1rem, -10rem);
    font-family: arial;
}

#home-text{
    font-size: 2.5rem;
    color: #ffff;
}






















































/* Seção @media */


@media screen and (max-width: 1440px){

    .header-nav{
        background-color: rgb(249, 225, 208);
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 56%;
    }
    
    .logo{
        width: 30%;
        height: 100%;
    }

    .ul-header{
        display: flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        width: 100%;
    }
    
    .li-header{
        font-size: 1rem;
    }
    
    .li-header a{
        text-decoration: none;
        color: inherit;
    }
    
    .li-header:hover{
        transition: 0.5s;
        color: rgb(236, 99, 8);
    }
    
}